{% extends "base.html" %}

{% block title %}Show photo{% endblock %}

{% block main-content %}
<h2>
  <span class="thumbs">
    <span class="thumb"><span class="thumb-inner"><a href="{% url quadanimr_app.views.users_page user.username %}">&nbsp;</a></span></span>
  </span>
  <a href="{% url quadanimr_app.views.users_page viewed_user.username %}">{{ viewed_user.name }}</a>
</h2>
<div id="animation" style="background-image: url({{ photo.get_photo_img_url }});background-position: 0 0;width: {{ photo.anim_frame_width }}px;height: {{ photo.anim_frame_height }}px;"> </div>
<p>{{ photo.description }}</p>
{% endblock %}

{% block sidebar %}
  <h3>{% block sidebar-thumbs-title %}Photos{% endblock %}</h3>
  {% if object_list %}
    <ul class="thumbs">
      {% for thumb in object_list %}<li class="thumb{% ifequal photo.key thumb.photo_key %} active{% endifequal %}"><div class="thumb-inner animation-thumb" style="background-image: url({{ thumb.get_thumb_img_url }});background-position: 0 -8px;width: 45px;height: 45px;"><a href="{% url quadanimr_app.views.users_photo username=viewed_username,photo_key=thumb.photo_key %}">&nbsp;</a></div></li>{% endfor %}
    </ul>
  {% endif %}
{% endblock %}